a {
    width: 650px;
    color:#006600;
  }
  .sign-up h4  {
    text-align: center;
    padding-bottom: 25px;
  }
  @media only screen and (max-width: 650px)   {
    .sign-up  {
        width:320px;
    .select  {
  .sign-up input {
    display: block;
  }
  #centered-submit input {
  .comment  {
    font-size: x-small;
    font-style: italic;
    margin-top: 0;
    padding-top: 0;
  }
  #password-label  {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .centered-submit input {
    margin: 25px auto;
  }
  .account-personal-info {
 .footer{
    height: 150px;
    background-color: white ;
  }
  
  /* back end pages */
  
  #back-end-nav  {
    width: 25%;
    background-color: green;
    height: 100%
  }
  #back-end-nav a  {
    display: block;
    padding: 20px;
    background-color: green;
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    border: #fff solid;
    border-width: 2px;
    text-align: center;
  }
  .back-end-title  {
    background-image:url("Images/StrawberryBanner.jpg");
    width:75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .back-end-nav-title  {
    display: flex;
  }
  .back-end-title h1 {
    margin: 0 auto;
    font-size: 5rem;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 4px 4px 0 #006600;
  }
  .back-end-title-alt  {
    display: none;
  }
  .user-row  {
    text-align: center;
    align-items: center;
    border: 2px solid white;
    padding: 7px;
    border-radius: 20px;
    background-color: #ffe6e6;
  }
  .user-list {
    padding: 7px;
  }
  .user-table-title  {
    align-items: center;
    font-weight: bold;
    color:white;
    text-align: center;
    border: 2px solid white;
    padding: 7px;
    border-radius: 20px;
    background-color: #990000;
  }
  .red-button  {
    background-color: #990000;
    color:white;
    outline-color: white;
  }
  center-su
  .user-list input  {
    margin:2px;
  }
  .center-button  {
    align-items: center;
  }
  .edit-user  {
    color: #990000;
    background-color: #ffe6e6;
    border-color: #990000;
  }
  .edit-user h2  {
    color: #990000;
  }
  #submit-changes  {
    background-color: #990000;
    color:white;
    outline-color: white;
    box-shadow: none;
  }
  .sign-in select  {
    width:280px;
  }
  @media only screen and (max-width: 625px)  {
    .back-end-title  {
        display: none;
    }
    #back-end-nav  {
        width:100%;
    }
    .back-end-title-alt  {
        display: block;
        text-align: center;
        color: #006600;
        font-weight: bold;
        padding: 10px 0;
        text-shadow: 2px 2px 0 grey;
    }
  }