a {
    width: 650px;
    color:#006600;
  }
  .sign-up h4  {
    text-align: center;
    padding-bottom: 25px;
  }
  @media only screen and (max-width: 650px)   {
    .sign-up  {
        width:320px;
    .select  {
  .sign-up input {
    display: block;
  }
  #centered-submit input {
  .comment  {
    font-size: x-small;
    font-style: italic;
    margin-top: 0;
    padding-top: 0;
  }
  #password-label  {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .centered-submit input {
    margin: 25px auto;
  }
  .account-personal-info {
 .footer{
    height: 150px;
    background-color: white ;
  }
  
  /* back end pages */
  
  #back-end-nav  {
    width: 25%;
    background-color: green;
    height: 100%
  }
  #back-end-nav a  {
    display: block;
    padding: 20px;
    background-color: green;
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    border: #fff solid;
    border-width: 2px;
    text-align: center;
  }
  .back-end-title  {
    background-image:url("Images/StrawberryBanner.jpg");
    width:75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .back-end-nav-title  {
    display: flex;
  }
  .back-end-title h1 {
    margin: 0 auto;
    font-size: 5rem;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 4px 4px 0 #006600;
  }
  .back-end-title-alt  {
    display: none;
  }
  .user-row  {
    text-align: center;
    align-items: center;
    border: 2px solid white;
    padding: 7px;
    border-radius: 20px;
    background-color: #ffe6e6;
  }
  .user-list {
    padding: 7px;
  }
  .user-table-title  {
    align-items: center;
    font-weight: bold;
    color:white;
    text-align: center;
    border: 2px solid white;
    padding: 7px;
    border-radius: 20px;
    background-color: #990000;
  }
  .red-button  {
    background-color: #990000;
    color:white;
    outline-color: white;
  }
  center-su
  .user-list input  {
    margin:2px;
  }
  .center-button  {
    align-items: center;
  }
  .edit-user  {
    color: #990000;
    background-color: #ffe6e6;
    border-color: #990000;
  }
  .edit-user h2  {
    color: #990000;
  }
  #submit-changes  {
    background-color: #990000;
    color:white;
    outline-color: white;
    box-shadow: none;
  }
  .sign-in select  {
    width:280px;
  }
  @media only screen and (max-width: 625px)  {
    .back-end-title  {
        display: none;
    }
    #back-end-nav  {
        width:100%;
    }
    .back-end-title-alt  {
        display: block;
        text-align: center;
        color: #006600;
        font-weight: bold;
        padding: 10px 0;
        text-shadow: 2px 2px 0 grey;
    }
  }

  header {
    background-color: black;
}
a {
    text-decoration: none;
    color:black
}
h2{
    padding-top: 10px;
    margin-left: 0px;
    text-indent: 0px;
    text-align:center;
    color: rgb(4, 77, 4);
    
}

.whitespace{
    width: 100%;
    height: 25px;
    background-color: white;
}

.whitespace1{
    width: 100%;
    height: 70px;
    background-color: white ;

}

.aisle{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgb(104, 170, 5);
}   

.btn-success {
    background-color: transparent !important;
    border-color: transparent !important;
    font-size:  16px !important;

    font-family: Verdana, "Geneva", Tahoma, sans-serif !important;

}

.btn-successhover, .btn-success:active {
    background-color:rgb(187, 61, 22) !important;
    border-color: black  !important;
}
.product-quantity {
    width:40px;
}
.media-list-image {
    max-width: 200px;
    max-height: 200px;
}
.add-to-cart {
    display: flex;
    align-items: center;

}
.add-to-cart-submit {
    height: 30px;
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.icons {
    height: 30px;
    width: 30px;
}

.container {
    background-color: #f3f3db;

    font-family: Verdana, "Geneva", Tahoma, sans-serif;
}


.main-logo {
    height: 60px;
    width: 60px;
}
@media only screen and (max-width: 520px) {
    .navbar-icon-label {
        display: none;
    }
    .product {
        flex-direction: column;
        width: 100%;
    }
  }

  @media only screen and (max-width: 520px) {
    .navbar-icon-label {
        display: none;
    }
    .col {
        flex-direction: column;
        width: 100%;
    }
  }

  
.navbar-icon-label {
    color:#006600;
}
.product-title  {
    color:black;
}
.logo-bar  {
    background-color : white;
}
.product  {
    padding-left: 5%;
    padding-top: 5%;
    margin-top: 5%;
    background-color: white;
    color:#006600;

    
}

.greyspace {
    width: 100%;
    background-color:#f3f3db ;
    height : 25px;

}
.green-button  {
    background-color: #006600;
    border-color: #e6ffe6;
    color: white;
}
.green-button:hover {
    color: white;
    border-color: #e6ffe6;
}
.green-button:focus  {
    box-shadow: 0 0 0 0.2rem rgb(0, 153, 0, 0.25); 
}

.buttonshover{
    color:black;
}

footer{
    display:block;
    background-color: rgb(104, 170, 5);
    width: 100%;
    height: 90px;
}

.logo{
    padding-top:4px;
    width: 80px;
    height: 80px;
}
.name{
    color:white;
    font-size: 27px;
    padding-top: 50px;
}

