header {
    background-color: black;
}
a {
    text-decoration: none;
    color:black
}
.product-quantity {
    width:40px;
}
.media-list-image {
    max-width: 200px;
    max-height: 200px;
}
.add-to-cart {
    display: flex;
    align-items: center;

}
.add-to-cart-submit {
    height: 40px;
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.icons {
    height: 40px;
    width: 40px;
}
.main-logo {
    height: 60px;
    width: 60px;
}
@media only screen and (max-width: 520px) {
    .navbar-icon-label {
        display: none;
    }
    .product {
        flex-direction: column;
    }
  }
.navbar-icon-label {
    color:#006600;
}
.product-title  {
    color:black;
}
.logo-bar  {
    background-color: #ecf9f2;
}
.product  {
    padding-left: 10%;
    margin-top: 3%;
}
.green-button  {
    background-color: #006600;
    border-color: #e6ffe6;
    color: white;
}
.green-button:hover {
    color: white;
    border-color: #e6ffe6;
}
.green-button:focus  {
    box-shadow: 0 0 0 0.2rem rgb(0, 153, 0, 0.25); 
}
.sign-in  {
    margin:auto;
    margin-top: 40px;
    border: #006600;
    width:300px;
    padding: 15px;
    background-color: #ecf9f2;
    border: 5px #006600 solid;
    border-radius: 0.5cm;
}
.sign-in a  {
    color:#006600;
    font-weight: bold;
}
.sign-in input  {
    margin: 8px;
    margin-left: 0px;
    margin-top: 3px;
}
.sign-in h2  {
    padding: 15px;
    color: #006600;
    text-align: center;
}
.sign-in p  {
    color: #006600;
    margin-top: 4px;
    margin-bottom: 2px;
}
.buttons  {
    color:white;
    background-color: #006600;
}
.sign-in input[type=submit]  {
    color:white;
    background: #006600;
    border:none;
    box-shadow: 0 0 0 0.2rem rgb(0, 153, 0, 0.25); 
}